<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<h1>show one person</h1>
<h2 th:text="${person.getName() + ', ' + person.getAge()}">VALUE</h2>
<p th:text="${person.getPerson_id()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>
<!--<p th:if="person" th:text="${person.getName() + ', ' + person.getYear()}">value</p>-->
<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <br/>
    <table th:each="book : ${books}">
        <lr th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</lr>
    </table>
</div>
<hr/>

<a th:href="@{/people/{id}/edit(id=${person.getPerson_id()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>
