<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBook_id()})}" th:object="${book}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <input type="text" th:field="*{author}" id="author">
    <input type="text" th:field="*{year}" id="year">
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>